*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    min-height: 100vh;
    background-color: #0D0F12;
}

.new-release{
    height: 37vh;
    padding-left: 4.44vw;
    padding-right: 4.44vw;
    background: transparent;
}

.main{
    background-color: #0D0F12;
}

.range{
    height: 2px;
}

.new-release img{
    height: 28vh;
    border-radius: 0.9vw;
}

.slider{
    /* display: none; */
    width: 0.01px;
}




@media (max-width:600px) {
     
    .new-release{
        height: 35vh;
        display: none;
    }

    .slider{
        display: flex;
        width: 100%;
        height: 15vh;
    }

    .responsive{
        width: 27.5vw;
        margin-right: 2.5vw;
        border-radius: 1.8vw;
        /* object-fit: cover; */
    }

    
    
}







